* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: grey;

  .gallery-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 300px;

    img {
      margin: auto;
      padding: 5%;

    }
  }
.single-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

}


